.container{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    color: white;
}

.contactList{
    display: flex;
    flex-direction: column;
    width: 25vw;
    border: 2px solid red;
    padding: 1rem;
}

.detailedChat{
    display: flex;
    flex-direction: column;
  background: linear-gradient(145deg, #1f2a48, #28395e); 

    width: 75vw;
    border: 2px solid red;
    padding: 1rem;
}